config USR_LIB_AES
  bool  "userspace libaes with HW Cryp support"
  default y
  select EXT_SECAES
  ---help---
  Support for AES implementation in both software and
  hardware mode, depending on the SoC.

menu "libaes features"
  depends on USR_LIB_AES

config USR_LIB_AES_SELFTESTS
  default n
  bool "Embed AES selftest vectors"

config USR_LIB_AES_PERF
  default n
  bool "Embed AES performance test benchmarks"

config USR_LIB_AES_ALGO_UNMASKED
  default n
  bool "Embed AES unmasked (unprotected) support"
config USR_LIB_AES_ALGO_ANSSI_MASKED
  default n
  select USR_LIB_RNG
  bool "Embed AES ANSSI masked"

config USR_LIB_AES_ALGO_CRYP_SUPPORT
  default n
  bool "Embed AES HW CRYP Support"

choice
  prompt "CRYP support type"
  default USR_LIB_AES_ALGO_CRYP_SUPPORT_DMA
config USR_LIB_AES_ALGO_CRYP_SUPPORT_POLL
  depends on USR_LIB_AES_ALGO_CRYP_SUPPORT
  bool "CRYP support in poll mode"
config USR_LIB_AES_ALGO_CRYP_SUPPORT_DMA
  depends on USR_LIB_AES_ALGO_CRYP_SUPPORT
  bool "CRYP support in DMA mode"
endchoice

endmenu


